/* ヘッダーのスタイル */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items:center;
}


#lang-toggle {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#lang-toggle:hover {
    background-color: #e0e0e0;
}

/* フッターセクション */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-menu {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-item {
    display: inline-block;
    margin: 0 15px;
}

.footer-item a {
    color: white;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}

/* プロフィールセクション */
#profile {
    padding: 50px;
    text-align: center;
}

/* アプリセクション */
#apps {
    padding: 50px;
    text-align: center;
}

.app-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.app-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.app-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.app-icon {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20%;
}

.google-play-badge img {
    /*サイズ要件*/
    /*https://partnermarketinghub.withgoogle.com/brands/google-play/visual-identity/badge-guidelines/#design-guidelines*/
    --h: max(0.3in, 7.6mm, 0.46in);
    height: var(--h);
    margin: calc(var(--h) / 4);
}
