
#lang-toggle {
    position: absolute;
    right: 20px;
    top: 48px;
}

#content {
  padding: 20px;
}

ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
}

a {
  color: #4772fa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}